* {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
}

nav {
  background-color: #fff;
  height: 12.5vh;
}

nav .logo a img {
  margin: 17px 0 0 120px;
}

nav .menu ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: -47px 120px 0 1050px;
}

nav .menu ul a {
  color: #000;
}

nav .menu ul li:last-child {
  background-color: rgb(241, 63, 63);
  padding: 10px 15px 3px 30px;
  border-radius: 30px;
  margin-top: -7px; 
}

nav .menu ul li:last-child:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

.hungry {
  background-color: rgb(250, 247, 248);
  height: 86vh;
  width: 100vw;
}

.hungry .main-img img {
  position: absolute;
  margin: -360px 0 0 800px; 
}

.hungry .main-text h1 {
  padding: 20px 0 20px 120px;
}

.hungry .main-text h6 {
  font-weight: 500;
  padding: 210px 0 0 120px;
}

.hungry .main-text input {
  padding: 15px 20px 15px 20px;
  margin: 0 0 0 120px;
  border: none;
  border-radius: 40px;
  background-color: rgb(241, 63, 63);
  color: #fff;
  outline: none;
}

.hungry .main-text input:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}