<%- include('layout/header.ejs') %>

<section class='cart'>
  <h1>Cart Empty</h1>
  <p>
    You probably haven't ordered a pizza yet.<br>
    To order a pizza, go to the main page.
  </p>
  <img src='img/empty-cart.png' alt=''>
  <a href='/'>Go back</a>
</section>

<%- include('layout/footer.ejs') %>