<%- include('layout/header.ejs') %>

<section class='hungry'>
  <div class="main-text">
    <h6><em>Are you hungry?</em></h6>
    <h1>Don't Wait !</h1>
    <input type='button' value='Order Now'>
  </div>

  <div class='main-img'>
    <img src='img/pizza.png' alt='Картинка пиццы'>
  </div>
</section>

<%- include('layout/footer.ejs') %>