<%- include('layout/header.ejs') %>

<section class='hungry'>
  <div class="main-text">
    <h6><em>Are you hungry?</em></h6>
    <h1>Don't Wait !</h1>
    <button class='btn'>Order Now</button>
  </div>

  <div class='main-img'>
    <img src='img/pizza.png' alt=''>
  </div>
</section>

<h1 class='pizza-text'>All Pizzas</h1>

<section class="all-pizza" id='scroll'>
  <div class="card" id='scroll'>
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Margherita</h3>
    <p class='size'>small</p>
    <span class="price">&#8372 250</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Marinara</h3>
    <p class='size'>medium</p>
    <span class="price">&#8372 150</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Carbonara</h3>
    <p class='size'>small</p>
    <span class="price">&#8372 450</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Americana</h3>
    <p class='size'>large</p>
    <span class="price">&#8372 250</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Chicken Mushroom</h3>
    <p class='size'>medium</p>
    <span class="price">&#8372 350</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Paneer pizza</h3>
    <p class='size'>small</p>
    <span class="price">&#8372 100</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Vegies pizza</h3>
    <p class='size'>large</p>
    <span class="price">&#8372 250</span>
    <button>+ Add</button>
  </div>
  <div class="card">
    <img src='/img/piz1.png' alt=''>
    <h3 class='name'>Pepperoni</h3>
    <p class='size'>medium</p>
    <span class="price">&#8372 160</span>
    <button>+ Add</button>
  </div>
</section>

<%- include('layout/footer.ejs') %>