* {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/* для navbar */

nav {
  background-color: #fff;
  width: auto ;
  height: 12.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 9vw 0 9vw;
}

nav .menu ul{
  list-style: none;
  display: flex;
}

nav .menu ul li {
  display:flex;
  align-items: center;
  margin-right: 1vw;
}

nav .menu ul a {
  color: #000;
}

nav .menu ul li a:last-child {
  display: flex;
}

nav .menu ul li:last-child {
  background-color: rgb(241, 63, 63);
  padding: 8px 15px 8px 17px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 0;
  color: #fff;
}

nav .menu ul li:last-child:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

nav .menu ul li .cartCoun {
  color: #fff;
  font-weight: 500;
  padding-right: 5px;
}

/* для hungry */

.hungry .text-added {
  z-index: 2;
  position: fixed;
  right: -25vw;
  top: 30px;
  width: 20vw;
  padding: 9px 0 9px 15px;
  border-radius: 50px;
  background-color: rgb(169, 190, 92);
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  transition: right 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hungry {
  display: flex;
  justify-content: space-around;
  background-color: rgb(249, 246, 249);
  height: 87.5vh;
  width: 100%;
}

.hungry .main-img img {
  width: 100%;
  margin-top: 9vh;
  filter: drop-shadow(0 0 5px gray);
}

.hungry .main-text h1 {
  font-size: 5vw;
  padding: 20px 0 20px 0;
}

.hungry .main-text h6 {
  font-weight: 500;
  padding: 27vh 0 0 0;
}

.hungry .main-text .btn {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 40px;
  background-color: rgb(241, 63, 63);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.hungry .main-text .btn:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

/* Для all-pizza */

.text-between .pizza-text {
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0 30px 120px;
}

.all-pizza {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
}

.all-pizza .card {
  max-width: 200px;
  padding: 0 78px 42px 78px;
  text-align: center;
}

.all-pizza .card img {
  width: 90%;
  padding: 0 0 10px 0;
}

.all-pizza .card h3 {
  font-weight: 400;
}

.all-pizza .card div{
  margin: 15px 0;
}

.all-pizza .card .size {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 30px;
  border-radius: 40px; 
  background-color: rgb(249, 249, 249);
}

.all-pizza .card .price {
  margin-right: 40px;
  font-weight: 600;
}

.all-pizza .card button {
  outline: none;
  cursor: pointer;
  border: 3px solid rgb(241, 63, 63);
  border-radius: 45px;
  padding: 1px 18px;
  background-color: #fff;
  color: rgb(241, 63, 63);
}

.all-pizza .card button:hover {
  background-color: rgb(241, 63, 63);
  color: #fff;
}

/* для cart  */

.cart {
  min-height: 87.5vh;
  background-color: rgb(249, 246, 249);
  width: auto;
  display: flex;
  justify-content: center;
}

.cart .order-container .top-text {
  padding: 8vh 0 2vh 0;
  display: flex;
}

.cart .order-container .top-text h1 {
  padding: 0 0 0 20px;
}

.cart .order-container .pizza-list .pizza {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 0;
}

.cart .order-container .block-pizza {
  width: 4vw;
}

.cart .order-container .block-first {
  display: flex;
  align-items: center;
  width: 15vw;
}

.cart .text-order {
  margin-left: 20px;
}

.cart .text-order span {
  color: gray;
}

.cart .price-pizza {
  font-weight: bold;
}

.cart .order-container .pizza-list .pizza img {
  width: 50%;
}

.text-right {
  text-align: right;
  margin: 30px 0 50px 0;
}
.text-right .total-amount {
  margin-bottom: 40px;
  font-weight: 600;
}
.text-right .total-amount .amount {
  font-size: 24px;
  margin: -3.5px 0 0 10px;
  color: rgb(241, 63, 63);
}

.text-right .contacts form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-right .btn { 
  padding: 8px 17px;
  border: none;
  border-radius: 40px;
  background-color: rgb(241, 63, 63);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.text-right .btn:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

.text-right .contacts .phone-address {
  outline-color :rgb(79, 197, 233);
  background: #f2f2f2;
  border: none;
  width: 22vw;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* для cartEmpty */

.cart hr {
  border: 0;
  height: 1.5px;
  background: lightgray;
}

.empty-cart {
  background-color: rgb(249, 246, 249);
  height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 40px;
}

.empty-cart p {
  margin: 0 0 40px 0;
  text-align: center;
}

.empty-cart img {
  height: 300px;
  padding-bottom: 40px;
}

.empty-cart a {
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 40px;
  background-color: rgb(241, 63, 63);
  color: #fff;
  outline: none;
}

.empty-cart input:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

/* для login и register*/

.login-page, .reg-page {
  background-color: rgb(249, 246, 249);
  height: 74vh;
  padding: 6% 0 0 0;
}

.err {
  color: red;
}

.reg-form label {
  float: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

.login-form label {
  float: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: auto;
  padding: 35px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline-color :rgb(79, 197, 233);
  background: #f2f2f2;
  border: none;
  width: 100%;
  margin-bottom: 18px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  outline: none;
  background-color: rgb(241, 63, 63);
  width: 100%;
  border: none;
  padding: 13px;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  transition: background-color 2s;
  background-color: rgb(172, 41, 41);
}

.form .message {
  margin: 15px 0 0;
  font-size: 16px;
}

.form .message a {
  color: rgb(241, 63, 63);
  text-decoration: none;
}

.offers-bg {
  background-color: rgb(249, 246, 249);
  height: 87.5vh;
}