<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='author' content='Денис Юхимчук denis.yuhimchuk1302@gmail.com'>
    <meta name='description' content='Pizza Man'>
    <meta name='keywords' constent='Pizza Man, Пиццамен, пицца'>

    <link rel='shortcut icon' href='img/favicon.ico' type='image/png'>
    <link rel='stylesheet' href='stylesheets/main.css'>
    <link rel='stylesheet' href='stylesheets/mobile.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title><%- title %></title>
  </head>

  <body>