<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='author' content='Денис Юхимчук denis.yuhimchuk1302@gmail.com'>
    <meta name='description' content='Pizza Man'>
    <meta name='keywords' constent='Pizza Man, Пиццамен, пицца'>

    <link rel='shortcut icon' href='img/favicon.png' type='image/png'>
    <link rel='stylesheet' href='stylesheets/main.css'>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <title>Pizza Man</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <a href='/'><img src='img/logo.png' alt='Логотип сайта'></a>
      </div>
    
      <div class='menu'>
        <ul>
          <li><a href='/'>Menu</a></li>
          <li><a href='/offers'>Offers</a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
          <li><a href='/cart'><img src='img/cart.png' alt=''></a></li>
        </ul>
      </div>
    </nav>